<% if user_signed_in? %>
  <div id="gearset">
    <%= render 'layouts/gearset_partial' %>
    <script>
      // Set Icon when an Equipment changed. //
      document.querySelector("#gearset").addEventListener("change", setIcon, {passive: true});
    </script>
  </div>
<% else %>
  <div class="text-center my-5">
    <h1><span>/checkparam</span> your Ideas.</h1>
    <div class="my-3">
      <%= t('welcome_html') %>
    </div>
    <div class="">
      <%= button_to t('sign_in_with_twitter'), user_twitter_omniauth_authorize_path, class: "btn btn-secondary btn-lg mt-3 mb-5", id: "signup" %>
    </div>
    <div class="text-left bg-dark pl-0">
      <ul>
        <li><b>Lv98以下</b>の装備は、一部を除き収録されていません。</li>
        <li>以下の部位について、<b>IL118以下</b>の装備は一部を除き収録されていません。<br>
          メイン / サブ / レンジ / 頭 / 胴 / 両手 / 両脚 / 両足</li>
        <li><b>リクエストがあれば収録します。</b></li>
      </ul>
    </div>
    <h2>TO-DO</h2>
    <div class="text-left bg-dark pl-0">
      <ul>
        <li>オーグメント値の入力/保存</li>
        <li>ユーザーコメントの入力/保存</li>
      </ul>
    </div>
    機能追加の要望も随時募集しています。
  </div>
  <div class="my-4 row">
    <% cards.each do |set| %>
      <a href="<%= gearset_path(set.id) %>" class="card rounded-0 col-lg-4 bg-transparent text-center my-2">
        <div class="card-body bg-dark px-0">
          <h5 class="card-title"><%= set.job[I18n.locale] %></h5>
          <%= image_tag set.user.auth["extra"]["raw_info"]["profile_image_url_https"], size: "48x48", class: "mx-1 border border-dark" %>
          <%= image_tag "/icons/64/#{set.main}.png", size: "48x48", class: "mx-1 border border-dark" %>
          <%= image_tag "/icons/64/#{set.body}.png", size: "48x48", class: "mx-1 border border-dark" %>
          <h6 class="card-subtitle my-2 text-muted">@<%= set.user.auth["info"]["nickname"] %></h6>
        </div>
      </a>
    <% end %>
  </div>
<% end %>