<div class="row align-items-center text-center">
  <div class="col-12 my-3">
    <h3><%= @set.job[current_user.lang] %> / <%= @set.user.name %> (<%= link_to "@#{@set.user.nickname}", "https://twitter.com/#{@set.user.nickname}" %>)</h3>
  </div>
</div>
<div class="row" id="gearset">
  <div class="col-md-6">
    <div class="mx-auto" id="gearmenu">
      <div class="row">
        <% slots.each do |slot| %>
          <div class="col-3">
            <% if @set[slot.en].present? %>
              <%= image_tag "/icons/64/#{@set[slot.en]}.png", size: "64x64", data: { toggle: "tooltip", "original-title": items.find_by(id: @set[slot.en]).description[current_user.lang] } %>
            <% else %>
              <%= image_tag "/icons/64/#{slot[:img]}.png", size: "64x64" %>
            <% end %>
          </div>
        <% end %>
      </div>
      <div class="py-4 text-center">
        <%= link_to "[この装備セットをシェアする]","https://twitter.com/intent/tweet?text=Checkparam｜#{@set.job[current_user.lang]}%20@#{@set.user.nickname}&url=https://checkparam.com/gearsets/#{@set.id.to_s}&hashtags=FF11,checkparam", {onclick: "window.open(this.href,'hoge','height=400,width=600');return false do"} %>
      </div>
    </div>
  </div>
  <div class="col-md-6 mt-2" id="show">
    <% slots.all.each do |slot| %>
      <div class="row align-items-center text-center">
        <div class="col-3 py-1">
          <%= image_tag "/icons/64/#{@set[slot.en] || slot[:img]}.png", size: "48x48" %>
        </div>
        <% if @set[slot.en].present? %>
          <%= link_to items.find_by(id: @set[slot.en])[current_user.lang], URI.encode("https://google.com/search?q=FF11+\"#{items.find_by(id: @set[slot.en])[current_user.lang]}\""), {target: "_blank"} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>