<div class="text-center my-2">
  <h3><%= @set.job[:ens] %> / <%= @set.user.auth['info']['name'] %> <%= @set.user.auth['info']['nickname'] %><br>
  (<%= link_to "@#{@set.user.auth['info']['nickname']}", "https://twitter.com/#{@set.user.auth['info']['nickname']}" %>)</h3>
</div>
<div class="row mx-auto" id="gearset">
  <div class="col-lg-6">
    <div class="mx-auto" id="gearmenu">
      <div class="row">
        <% slots.each do |slot| %>
          <div class="col-3">
            <% if @items[slot.en].present? %>
              <%= image_tag "/icons/64/#{@items[slot.en][:id]}.png", size: "64x64", data: { toggle: "tooltip", "original-title": @items[slot.en][:description]} %>
            <% else %>
              <%= image_tag "/icons/64/#{slot.img}.png", size: "64x64", data: { toggle: "tooltip", "original-title": "" } %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="py-2 text-center">
      <%= link_to t('share_this_set'),"https://twitter.com/intent/tweet?text=Checkparam｜#{@set.job[I18n.locale]}%20@#{@set.user.auth['info']['nickname']}&url=#{gearset_url}&hashtags=FF11,checkparam", {onclick: "window.open(this.href,'hoge','height=400,width=600');return false do"} %>
    </div>
    <div class="row checkparam my-3">
      <% @set.checkparam.each do |key,value| %>
        <div class="col-3 px-0 text-center" id="<%= key %>_title" data-toggle="tooltip" data-original-title="<%= key %>" data-present="<%= value.present? %>">
          <%= key %>
        </div>
        <div class="col-3 px-0 text-center param" id="<%= key %>">
          <%= value %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-6" id="show">
    <% slots.each do |slot| %>
      <div class="row align-items-center">
        <% if @items[slot.en].present? %>
          <div class="col-3 ml-2 py-2">
            <%= image_tag "/icons/64/#{@items[slot.en][:id]}.png", size: "48x48", data: { toggle: "tooltip", "original-title": @items[slot.en][:description]} %>
          </div>
          <%= link_to @items[slot.en][:name], "http://wiki.ffo.jp/html/#{@items[slot.en][:wiki_id]}.html", {target: "_blank"} %>
        <% else %>
          <div class="col-3 ml-2 py-2">
            <%= image_tag "/icons/64/#{slot.img}.png", size: "48x48", data: { toggle: "tooltip", "original-title": ""} %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>