<%#= render 'layouts/debug' if Rails.env == 'development' %>
<% provide(:title, "#{@gearset.job[:ens]}(@#{@gearset.user.auth[:info][:nickname]})" ) %>
<div class='text-center border-bottom mb-3'>
  <h3><%= @gearset.job[:ens] %> / <%= @gearset.user.auth[:info][:name] %>
  (<%= link_to "@#{@gearset.user.auth[:info][:nickname]}", "https://twitter.com/#{@gearset.user.auth[:info][:nickname]}" %>)</h3>
</div>
<div class='row mx-auto' id='gearset'>
  <div class='col-lg-6'>
    <div class='mx-auto' id='gear-icons'>
      <div class='row m-0'>
        <% Slot.all.each do |slot| %>
          <%= hidden_field :gearset, slot.en, class: 'form-control' %>
          <div class='col-3'>
            <%= image_tag "/icons/#{slot.img}.png", size: '64', class: "gearset_#{slot.en}", tabindex: 0, data: { toggle: 'tooltip' } %>
          </div>
        <% end %>
      </div>
    </div>
    <div class='py-2 text-center'>
      <%= link_to t('share_this_set'),"https://twitter.com/intent/tweet?text=Checkparam｜#{@gearset.job[I18n.locale]}%20@#{@gearset.user.auth[:info][:nickname]}&url=#{gearset_url}&hashtags=FF11,checkparam", {onclick: "window.open(this.href,'hoge','height=400,width=600');return false do"} %>
    </div>
    <div class='row checkparam'>
      <% Stat.names.each do |key| %>
        <div class='col-4 px-0 text-center key' id='<%= key %>_title' data-toggle='tooltip' data-original-title='<%= t(key) %>'>
          <%= t(key) %>
        </div>
        <div class='col-2 px-0 text-center param' id='<%= key %>'>
        </div>
      <% end %>
    </div>
  </div>
  <div class='col-lg-6 show'>
    <% Slot.all.each do |slot| %>
      <div class='form-group row align-items-center py-1 mb-0'>
        <div class='col-3 col-form-label text-center'>
          <%= image_tag "/icons/#{slot.img}.png", class: "gearset_#{slot.en}", size: '48', tabindex: 0, data: { toggle: 'tooltip' } %>
        </div>
        <div class='col-9 pl-0'>
          <% if @gearset[slot.en].present? %>
            <%= link_to @gearset.items[slot.en][I18n.locale], "http://wiki.ffo.jp/html/#{@gearset.items[slot.en][:wiki_id]}.html", {target: '_blank'} %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>