<div class="text-center my-2">
  <h3><%= @set.job.ens %> / <%= @set.user.auth['info']['name'] %> (<%= link_to "@#{@set.user.auth['info']['nickname']}", "https://twitter.com/#{@set.user.auth['info']['nickname']}" %>)</h3>
</div>
<div class="row mx-auto" id="gearset">
  <div class="col-lg-6">
    <div class="mx-auto" id="gearmenu">
      <div class="row">
        <% slots.each do |slot| %>
          <div class="col-3">
            <% if @set[slot.name].present? %>
              <%= image_tag "/icons/64/#{@set[slot.name]}.png", size: "64x64", data: { toggle: "tooltip", "original-title": @set.items[slot.name][:description][lang] } %>
            <% else %>
              <%= image_tag "/icons/64/#{slot.img}.png", size: "64x64", data: { toggle: "tooltip", "original-title": "" } %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="py-2 text-center">
      <%= link_to "Back", root_path, {class: "btn btn-primary btn-block my-2", data: {turbolinks: false}} %>
      <%= link_to t('share_this_set'),"https://twitter.com/intent/tweet?text=Checkparam｜#{@set.job.name[lang]}%20@#{@set.user.auth['info']['nickname']}&url=https://checkparam.com/gearsets/#{params[:id]}&hashtags=FF11,checkparam", {onclick: "window.open(this.href,'hoge','height=400,width=600');return false do"} %>
    </div>
    <table class="table table-sm table-hover table-dark">
      <tbody>
        <% @set.checkparam.each do |stat| %>
          <% unless stat[1] == 0 %>
            <tr>
              <td class="pl-3"><%= stat[0] %></td>
              <td><%= stat[1] %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-lg-6" id="show">
    <% slots.each do |slot| %>
      <div class="row align-items-center">
        <div class="col-3 ml-2 py-2">
          <%= image_tag "/icons/64/#{@set[slot.name] || slot.img}.png", size: "48x48", data: { toggle: "tooltip", "original-title": @set.items[slot.name]&.fetch(:description)&.fetch(lang) } %>
        </div>
        <% if @set[slot.name].present? %>
          <%= link_to @set.items[slot.name][lang], "http://wiki.ffo.jp/html/#{@set.items[slot.name]["ffo_id"]}.html", {target: "_blank"} %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>