<div class="row">
  <% if user_signed_in? %>
    <div class="col-lg-6">
      <div class="mx-auto" id="equipmenu">
      <%#= render 'layouts/flash_messages' %>
        <div class="row">
          <div class="col-3" id="equipset_main"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
          <div class="col-3" id="equipset_sub"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
          <div class="col-3" id="equipset_range"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
          <div class="col-3" id="equipset_ammo"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
        </div>
        <div class="row">
          <div class="col-3" id="equipset_head"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
          <div class="col-3" id="equipset_neck"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
          <div class="col-3" id="equipset_ear1"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
          <div class="col-3" id="equipset_ear2"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
        </div>
        <div class="row">
          <div class="col-3" id="equipset_body"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
          <div class="col-3" id="equipset_hands"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
          <div class="col-3" id="equipset_ring1"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
          <div class="col-3" id="equipset_ring2"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
        </div>
        <div class="row">
          <div class="col-3" id="equipset_back"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
          <div class="col-3" id="equipset_waist"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
          <div class="col-3" id="equipset_legs"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
          <div class="col-3" id="equipset_feet"><%= image_tag '/icons/48/0.png', size: "48x48" %></div>
        </div>
      </div>
      <h1>params here</h1>
    </div>
    <div class="col-lg-6" id="equipset">
      <%= render 'equipset_partial' %>
    </div>
  <% else %>
    <div class="col-lg-12 text-center" id="landing-page">
      <h1>/checkparam your Ideas.</h1>
      <div class="col-12">
        <%= button_to 'Twitterアカウントで登録', user_twitter_omniauth_authorize_path, class: "btn btn-secondary btn-lg my-5", id: "signup" %>
      </div>
    </div>
  <% end %>
</div>