<div id='main-carousel' class='carousel slide' data-ride='carousel'>
  <div class='carousel-inner'>
    <% [*0..Gearset.recent.length-1].each do |i| %>
      <% if i % columns == 0 %>
        <% gearset = Gearset.recent.slice(i, columns) %>
        <% next if gearset.blank? %>
        <div class='carousel-item <%= 'active' if i == 0 %>' data-interval='10000'>
          <div class='row d-flex justify-content-center'>
            <% gearset.each do |set| %>
              <a href='<%= gearset_path(set.id) %>' class='card rounded-0 bg-transparent m-3'>
                <div class='card-body card-icon row p-0 m-0'>
                  <div class='col-12 bg-transparent'>
                    <%= image_tag YAML.load(set.auth)[:extra][:raw_info][:profile_image_url_https], onerror: "this.onerror=null;this.src='/icons/default_profile.png';", size: '64', align: 'left' %>
                    <h5 class='card-title mt-2'><%= set[I18n.locale] %></h5>
                    <h6 class='card-subtitle'>@<%= YAML.load(set.auth)[:info][:nickname] %></h6>
                  </div>
                  <% Slot.all.each do |slot| %>
                    <div class='col-3 bg-transparent'>
                      <%= image_tag "/icons/#{set[slot.en]}.png", size: '64' %>
                    </div>
                  <% end %>
                </div>
              </a>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
  <a class='carousel-control-prev' href='#main-carousel' role='button' data-slide='prev'>
    <span class='carousel-control-prev-icon' aria-hidden='true'></span>
    <span class='sr-only'>Previous</span>
  </a>
  <a class='carousel-control-next' href='#main-carousel' role='button' data-slide='next'>
    <span class='carousel-control-next-icon' aria-hidden='true'></span>
    <span class='sr-only'>Next</span>
  </a>
</div>
