<div class="row">
  <div class="col-lg-6">
    <div class="mx-auto" id="gearmenu">
      <div class="row">
        <% slots.all.each do |slot| %>
          <div class="col-3">
            <%= image_tag "/icons/64/#{slot.img}.png", size: "64x64", class: "gearset_#{slot.name["en"]}", data: { toggle: "tooltip" } %>
          </div>
        <% end %>
      </div>
    </div>
    <%#= render 'layouts/debug' if Rails.env == 'development' %>
  </div>

  <div class="col-lg-6">
    <div class="my-2 text-center">
      <%= link_to t('share_this_set'), "https://twitter.com/intent/tweet?text=Checkparam｜#{user.job[lang]}&url=https://checkparam.com/gearsets/#{gearset.id}&hashtags=FF11,checkparam", {onclick: "window.open(this.href,'hoge','height=400,width=600'); return false do", class: "font-weight-bold"} %>
    </div>

    <div class="form-group">
      <%= form_with model: Gearset.find_or_initialize_by(user_id: user.id, job_id: user.job_id, set_id: user.set_id) do |f| %>
        <% slots.all.each do |slot| %>
          <div class="form-group row">
            <label for="gearset_<%= slot.name["en"] %>" class="col-2 col-form-label">
              <%= image_tag "/icons/64/#{slot.img}.png", size: "48x48", class: "gearset_#{slot.name["en"]}", data: { toggle: "tooltip" } %>
            </label>
            <div class="col-10">
              <%= f.collection_select(slot.name["en"], current_gears.where('slot & ? > 0', 2**slot.pos), :id, lang, {include_blank: true}, {class: "form-control", onchange: 'Rails.fire(this.form, "submit")'}) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

  </div>
</div>

<script>
  setIcon();
  // define tooltip for descriptions. require jQuery and bootstrap.bundle.js
  $(function() {
    $('[data-toggle="tooltip"]').tooltip({ html: true, container: 'body', "data-original-title": "" });
  })
</script>