<%= render 'layouts/debug' if Rails.env == 'development' %>
<div class="row mx-auto">
  <div class="col-lg-6">
    <div class="mx-auto" id="gearmenu">
      <div class="row m-0">
        <% slots.each do |slot| %>
          <div class="col-3">
            <%= image_tag "/icons/64/#{slot.img}.png", size: "64x64", class: "gearset_#{slot.en}", data: { toggle: 'tooltip' } %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="py-2 text-center">
      <%= link_to t('share_this_set'), gearset_path(gearset.id) %>
    </div>
    <div class="row checkparam">
      <% stat_columns.each do |stat| %>
        <div class="col-4 px-0 text-center key" id="<%= stat %>_title" data-toggle="tooltip" data-original-title="<%= stat %>">
          <%= stat %>
        </div>
        <div class="col-2 px-0 text-center param" id="<%= stat %>">
        </div>
      <% end %>
    </div>
  </div>
  <div class="col-lg-6">
    <%= form_with model: gearset do |f| %>
      <div class="form-group row align-items-center">
        <% slots.each do |slot| %>
          <div class="col-3 col-form-label text-center my-0">
            <label for="gearset_<%= slot.en %>">
              <%= image_tag "/icons/64/#{slot.img}.png", size: "48x48", class: "gearset_#{slot.en}", data: { toggle: "tooltip" } %>
            </label>
          </div>
          <div class="col-9 px-0">
            <%= f.collection_select(slot.en, items.select{|item| item.slot & 2**slot.pos > 0}, :id, current_user.lang, {include_blank: true}, {class: "form-control", onchange: 'Rails.fire(this.form, "submit")'}) %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<script>
  setIcon();
</script>