<nav class="navbar fixed-top navbar-expand navbar-dark">
  <div class="container">
    <% if user_signed_in? %>
    <%= link_to "Checkparam", root_path, class: "navbar-brand", data: {turbolinks: false} %>
    <div class="form-inline">
      <% if !["about","show"].include?(controller.action_name) %>
        <%= form_with model: User.find(current_user.id), class: "watch" do |f| %>
          <%= f.collection_select(:jobid, Job.all.slice(1..22), :id, :ens, {selected: current_user.jobid},
            {class: 'form-control', onchange: 'Rails.fire($(this).closest("form")[0], "submit")'}) %>
        <% end %>
        <%= form_with model: User.find(current_user.id), class: "watch" do |f| %>
          <%= f.select(:setid, (1..@sets_limit).to_a, {include_blank: false, selected: current_user.setid},
            {class: "form-control", onchange: 'Rails.fire($(this).closest("form")[0], "submit")'}) %>
        <% end %>
      <% end %>
    </div>
    <ul class="navbar-nav" id="header-menu">
      <li class="nav-item dropleft">
        <a class="nav-link dropleft-toggle p-0" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= image_tag current_user.image, id: "twitter_icon", size: '48x48' %>
        </a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
          <div class="dropdown-item">
            <%= "@#{current_user.nickname}" %>
          </div>
          <% if controller.action_name != "about" %>
          <div id="language">
            <%= form_with model: User.find(current_user.id), class: "watch" do |f| %>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
              <label class="btn btn-secondary <%= 'active' if current_user.lang == 'ja' %>">JP
                <%= f.radio_button :lang, :ja, onchange: 'Rails.fire($(this).closest("form")[0], "submit")' %>
              </label>
              <label class="btn btn-secondary <%= 'active' if current_user.lang == 'en' %>">EN
                <%= f.radio_button :lang, :en, onchange: 'Rails.fire($(this).closest("form")[0], "submit")' %>
              </label>
            </div>
            <% end %>
          </div>
          <% end %>
          <div class="dropdown-divider"></div>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "dropdown-item", style: "color: red;" %>
        </div>
      </li>
    </ul>
    <% else %>
      <%= link_to "Checkparam", root_path, class: "navbar-brand" %>
      <%= button_to 'Login with Twitter', user_twitter_omniauth_authorize_path, class: "btn btn-outline-secondary" %>
    <% end %>
  </div>
</nav>
